body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

button{
    color: #E5E7EB;
    background-color: #3882F6;
    margin-top: 10px;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
/*Header Start*/
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.heading p{
    margin: 0px;
}


.heading{
    align-self: flex-start;
}

.hero{
    background-color: #1F2937;
    padding: 15px 7%;
}

.hero-content{
    display: flex;
    align-items: center;
    margin: 100px 0px;
    flex-wrap: wrap;
    gap: 50px;
}

.hero-content div{
    max-width: 800px;
    min-width: 300px;
}

.img-box{
    flex-grow: 1;
    margin-left: auto;
    background-color: rgb(141, 141, 141);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
}

.header span{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header ul{
    margin-left: auto;
    gap: 20px;
}

.heading p, .img-box p{
    margin: 20px 0px ;
    font-size: 18px;
    color: #E5E7EB;
}
/*Header End*/