body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

button{
    color: #E5E7EB;
    background-color: #3882F6;
    margin-top: 10px;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
/*Header Start*/
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.heading{
    align-self: flex-start;
}

.hero{
    background-color: #1F2937;
    padding: 15px 7%;
}

.hero-content{
    display: flex;
    align-items: center;
    margin: 100px 0px;
    flex-wrap: wrap;
    gap: 50px;
}

.hero-content div{
    max-width: 800px;
    min-width: 300px;
}

.img-box{
    flex-grow: 1;
    margin-left: auto;
    background-color: rgb(136, 142, 156);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    min-width: 300px;
}

.header span{
    margin-right: 8px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header ul{
    margin-left: auto;
    gap: 20px;
}

.heading p, .img-box p{
    margin: 20px 0px ;
    font-size: 18px;
    color: #E5E7EB;
}
/*Header End, Mid Start*/
h2{
    text-align: center;
    color: #1F2937;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 50px;
}
.img-block{
    padding: 0px 14%;
    min-width: 300px;
    margin-bottom: 100px;
    color: #1F2937;
}

.rand-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.rand-info li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 200px;
    text-align: center;
}

li img{
    width: 120px;
    height: 120px;
    border: solid #3882F6;
    border-radius: 10px;
}
/*Mid End, Quote Start*/
.quote-box{
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: light;
    font-style: italic;
}
.text-block{
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}
.quote-box p{
    margin-bottom: 0px;
}
.text-block span{
    font-size: 18px;  
    font-weight: bolder;
    margin-left: auto;
}
/*Quote End, Modal Start*/
.cta{
    display: flex;
    padding: 90px 7%;
    align-items: center;
    justify-content: center;
    color: White;
}
.modal{
    display: flex;
    background-color: #3882F6;
    padding: 20px 100px;
    gap: 120px;
    border-radius: 10px;
}
.modal button{
    border: White solid;
    align-self: center;
    flex-shrink: 0;
}
.modal p{
    margin-top: 0px;
}
h3{
    margin-bottom: 0px;
    font-size: 24px;
}
.text{
    min-width: 195px;
}
/*Modal End, Footer Start*/
.footer{
    display: flex;
    background-color: #1F2937;
    height: 70px;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}